# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger:
 branches:
   include:
   - main
   - dev

pr:
 branches:
   include:
   - main
   - dev
   

pool:
  vmImage: ubuntu-latest

steps:
- script: |
      echo "Init"
  displayName: '-'



- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
  displayName: 'install NET SDK'

- script: |
    cd 'application/'
    dotnet restore
  displayName: 'Restore NuGet packages'

- script: |
    cd 'application/'
    dotnet build --configuration Release /clp:ErrorsOnly
  displayName: 'Build with errors only output'

- script: | 
     cd 'application/'
     dotnet test --configuration Release /clp:ErrorsOnly
  displayName: 'Test with errors only output'

 #  Run static analysis 
- script: |
    cd 'application/'
    dotnet tool install --global dotnet-format
    dotnet format style ./application.csproj --verify-no-changes # dont change only verify 
  continueOnError: true
  displayName: 'Run static code analysis'


