# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger:
 branches:
   include:
   - main
   - dev

pr:
 branches:
   include:
   - main
   - dev
   

pool:
  vmImage: ubuntu-latest

steps:
- script: |
      echo "Init"
  displayName: '-'
