@page "/bykingdom"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout
@inject application.Services.SpeciesService SpeciesService;
@inject application.Services.WikipediaService WikipediaService;

<button class="back" onclick="history.back()">  ⇠ BACK </button>


<div class="explainNicely">
    <h1> EXPLORE THE KINGDOMS OF THE BIOLOGICAL CLASSIFICATION RANKS </h1>
</div>
<br />





<div class="container">
    <div class="row">
        <div class="col">
            <div class="explainNicely">

                <img class="profileof" src="/images/rankpic.jpg" />
            </div>
        </div>

        <div class="col">
            <div class="explainNicely">

                <p>
                    A kingdom is the next major rank below domain and groups organisms based on large-scale traits such as cell type, mode of nutrition, and general body organization. Commonly recognized kingdoms include Animalia, Plantae, Fungi, Protista (or Protists), Archaea, and Bacteria, each containing many diverse forms of life that still share key defining features.

                </p>
            </div>
        </div>


    </div>
</div>

<br />


<ul class="gridlist">
    @foreach (var s in kingdom)
    {

        <li class="list">

            <NavLink href=@($"/rankdescription/{s.canonicalName}/{s.key}")>
                @s.kingdom
            </NavLink>
        </li>
    }

</ul>

@code {


    // $"https://api.gbif.org/v1/species/{key}/children" eg., key 1 lists all phyum under animalia

    List<Species> kingdom = new();



    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>("https://api.gbif.org/v1/species?rank=KINGDOM&status=ACCEPTED&limit=100");
        //  kingdom = response?.results ?? new List<Species>();

        kingdom = response?.results
        .GroupBy(s => s.kingdom)
        .Select(g => g.First())
        .ToList() ?? new();


    }
}
