@page "/byorder"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout
@inject application.Services.SpeciesService SpeciesService;
@inject application.Services.WikipediaService WikipediaService;



<h3>ORDERS </h3>





<ul class="gridlist">
    @foreach (var s in order)
    {

        <li class="list">

            <NavLink href=@($"/rankdescription/{s.canonicalName}/{s.key}")>
                @s.order
            </NavLink>
        </li>
    }

</ul>

@code {


    // $"https://api.gbif.org/v1/species/{key}/children" eg., key 1 lists all phyum under animalia

    List<Species> order = new();



    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>("https://api.gbif.org/v1/species?rank=ORDER&status=ACCEPTED&limit=100");
        //  kingdom = response?.results ?? new List<Species>();

        order = response?.results
        .GroupBy(s => s.order)
        .Select(g => g.First())
        .ToList() ?? new();
    }
}
