@page "/byphylum"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout
@inject application.Services.SpeciesService SpeciesService;
@inject application.Services.WikipediaService WikipediaService;

<button class="back" onclick="history.back()">  ⇠ BACK </button>




<div class="explainNicely">
    <h1> EXPLORE THE PHYLUMS OF THE BIOLOGICAL CLASSIFICATION RANKS </h1>
</div>
<br />



<br />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="explainNicely">

                <img class="profileof" src="/images/rankpic.jpg" />
            </div>
        </div>

        <div class="col">
            <div class="explainNicely">

                <p>
                    A phylum (called a division in botany) sits below kingdom and gathers together classes of organisms that share a basic structural plan or major body features. For example, the phylum Chordata includes animals that at some stage have a notochord, dorsal nerve cord, and pharyngeal slits, even though its members range from fish to mammals

                </p>
            </div>
        </div>


    </div>
</div>

<br />

<ul class="gridlist">
    @foreach (var s in phylum)
    {

        <li class="list">

            <NavLink href=@($"/rankdescription/{s.canonicalName}/{s.key}")>
                @s.phylum
            </NavLink>
        </li>
    }

</ul>

@code {


    // $"https://api.gbif.org/v1/species/{key}/children" eg., key 1 lists all phyum under animalia

    List<Species> phylum = new();



    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>("https://api.gbif.org/v1/species?rank=PHYLUM&status=ACCEPTED&limit=1000");
        //  kingdom = response?.results ?? new List<Species>();

        phylum = response?.results
        .GroupBy(s => s.phylum)
        .Select(g => g.First())
        .ToList() ?? new();
    }
}
