@page "/"

<PageTitle>Home</PageTitle>

<img src = "/images/biologicalClassification.jpg" />


<button class="back" onclick="history.back">  ⇠ BACK </button>




<img src="https://en.wikipedia.org/w/api.php?action=query&format=json&prop=pageimages&piprop=thumbnail&pithumbsize=600&titles=Chordata" />


<NavLink href=@($"/speciesdescription/")> Species Description </NavLink>

<NavLink href=@($"/byphylum/")> Phylum </NavLink>

<NavLink href=@($"/speciesdescription/")> Species Description </NavLink>