@page "/"

<PageTitle>Home</PageTitle>


<div class="explainNicely">

    <p> This website creates an interface for biologists and environmentalist to move to down the tree strucuture of all the ranks of life provided by the GBIF  </p>
    <p> This website allows youto sample some data from the nearly infinite api GBIF </p>
    <p>  No more running around api keys to find the attributes to a certain species or any given rank and how it related to other ranks or species  </p>
      <p>  just navigate the api here  </p>
    <p>    ⇠  </p>

</div>


<div class="explainNicelyimage">

    <img src="/images/biologicalClassification.jpg" />


</div>

<br />
<br />









