@page "/bykingdom"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout

<h3>Kingdom</h3>





@code {


    // $"https://api.gbif.org/v1/species/{key}/children" eg., key 1 lists all phyum under animalia



}
