
@page "/specieslist"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout
@inject application.Services.SpeciesService SpeciesService;

<h3>SpeciesList</h3>




    <ul class= "gridlist">
        @foreach (var s in SpeciesService.species )
        {
            <li class="list">
                <NavLink href=@($"/speciesdescription/{s.scientificName}/{s.key}")>
                    @s.scientificName
                </NavLink>
            </li>
        }

    </ul>



@code {


    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpeciesAsync(Http);
    }
    //Scoped method non global api call 
        //var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>("https://api.gbif.org/v1/species?rank=SPECIES&limit=40");
        //species = response?.results ?? new List<Species>();
 

    

}
