





<h3>SpeciesSearchBar</h3>

<input class ="search" type="text" placeholder="Search species by name" 
    @bind="SearchText" 
    @bind:event="oninput" />
<button class="searchbutton" @onclick="OnSearchClicked"> Search </button>


@code {
    private string SearchText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(SearchText);
    }
}


@*   https://www.daveabrock.com/2021/01/14/blast-off-blazor-search-box/ *@
@*  https://dev.to/rasheedmozaffar/how-to-build-a-reusable-dialog-with-blazor-and-plain-css-1pc *@


