
.btn-link {
    color: #006bb7;
}

.top-row.navbar.navbar-dark {
    background-image: url("/images/backgroundBlur.gif"); !important;
}

.nav-scrollable {
    background-image: url("/images/backgroundBlur.gif");
    !important;
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
}



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}
.top-row {
    background-image: url("/images/backgroundBlur.gif");
    !important;
}


.gridlist {
    margin-top: 50px;
    margin-bottom: 50px;
}
ul.gridlist {
    display: grid;
    gap: 10px;
    list-style: none;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    background-color: rgba(158, 229, 235, 0.3);
    border-radius: 10px;
}
.gridlist li {
    padding-top: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    font-size: larger;
    font-weight: bolder;
}
.gridlist li:hover {
    background-color:aquamarine;
}
    .gridlist li a {
        color: black;
    }
    .list {
    background-color: rgba(158, 229, 235, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 10px;
    margin: 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    font-size: small !important;
   
}
html {
    scroll-behavior: smooth;
}

* {
    text-transform: uppercase !important;
    font-family: "Work Sans",monospace;
}



body {
    background-image: url("/images/backgroundBlur.gif");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    
}
    
.nav-link{
    transition: transform 0.2s ease-in-out;
    text-decoration:none !important;
}
.nav-link:hover {
    transform: scale(1.1);
    text-decoration: none !important;
}


    .list:hover {
        transform: scale(1.1);
        text-decoration: none !important;
    }
.search {
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 999px;
    background-color: rgba(37, 99, 235, 0.65);
    justify-content:center;
    align-items:center;

}
.search:hover {
    transform: scale(1.1);
}
.search::placeholder{
    color:ghostwhite;
    font-size:larger

}
.searchbutton {
    border-radius: 2px;
    border: none;
    border: none;
    background-color: rgba(37, 99, 235, 0.65);
    border-radius: 999px;
    padding: 20px;
    color:ghostwhite;
}
    .searchbutton:hover {
        transform: scale(1.2);
    }

    .guidelines {
        background-color:lightgreen;
        border-radius:20px;
    }

.searchresponse {
    display: grid;
    gap: 10px;
    list-style: none;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    background-color: #bdefbdd6;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}

    .searchresponse li {
        display: grid;
        gap: 10px;
        list-style: none;
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
        background-color: #bdefbdd6;
        border-radius: 10px;
        text-decoration: none !important;
        color: black;
        font-size: large;
        height: 90%;
        padding: 10px;
        margin: 15px;
        margin-bottom: 15px;
        justify-content: center;
        align-content: center;
        font-size: larger;
        font-weight: bolder;
    }
.searchresponse li:hover {
    transform: scale(1.1);
    color: midnightblue;
}

.back {
    background-image: url("/images/backnew.gif");
    background-position:center -65px;
    border-radius: 2px;
    border: none;
    border: none;
    background-color: rgba(37, 99, 235, 0.65);
    border-radius: 999px;
    padding: 20px;
    color: ghostwhite;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
}

.back:hover {
    color: red;
    color:greenyellow;
}

p {
    font-weight: bolder;
}

.extract {
    font-size: larger;
    font-weight: bolder;
    max-height: 450px; /* or any height you like */
    overflow-y: auto; /* vertical scrollbar when needed */
  
}
.profileof{
    border-radius:10px;
    width:100%;
    margin-left:-10px;
}

.api {
    border-radius: 2px;
    border: none;
    background-color: rgba(37, 99, 235, 0.65);
    border-radius: 999px;
    padding: 20px;
    color: black;
    background-image: url("/images/text.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:20%
}

.explainNicely {

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 4%;
    backdrop-filter: blur(10px);
    padding: 10px;
    background-image: url("/images/text.gif");
    background-repeat: no-repeat;
    background-size: cover;
}


.explainNicelyimage {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 4%;
    backdrop-filter: blur(10px);
    padding: 10px;
    background-image: url("/images/text.gif");
    background-repeat: no-repeat;
    background-size: cover;
}



.noimage {
    justify-content: center;
    align-items: center;
    background-color: #ffff008c;
    border-radius: 10px;
    margin-top: 4%;
    background-color: #3da0aada;
    backdrop-filter: blur(10px);

}

.maintitle {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3da0aada;
    background-image: url("/images/text.gif");
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainicon{
    width:100px;
}